<app-header></app-header>
<div class="container">
  <div class="row text-center fh5co-heading row-padded">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="heading to-animate">Add Dish</h2>
      <p class="sub-heading to-animate"> {{composition.ingredient_name}}</p>
    </div>
  </div>
  <div class="row row-padded">
    <div class="col-md-6">
      <form (ngSubmit)="saveDish()" #dishForm="ngForm">
        <div class="form-group">
          <label for="name">Dish Name</label>
          <input type="text" class="form-control" [(ngModel)]="dish.dish_name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Dish Price</label>
          <input type="text" class="form-control" [(ngModel)]="dish.dish_price" name="price" required>
        </div>
        <div class="form-group">
          <label for="name">Dish Section</label>
          <select class="form-control" [ngModel]="dish.dish_section">
            <option *ngFor="let c of section" [ngValue]="c.id">
              {{ c.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Ingredient Name</label>
          <input type="text" class="form-control" [(ngModel)]="dish.ingredient_name" name="ingredient_name" required>
        </div>
        <div class="form-group">
          <label for="name">Ingredient Price</label>
          <input type="text" class="form-control" [(ngModel)]="dish.ingredient_price" name="ingredient_price" required>
        </div>
        <div class="form-group">
          <label for="name">Ingredient Weight</label>
          <input type="text" class="form-control" [(ngModel)]="dish.ingredient_weight" name="ingredient_weight" required>
        </div>
        <div class="form-group">
          <label for="name">Count</label>
          <input type="text" class="form-control" [(ngModel)]="dish.count" name="count" required>
        </div>
        <div class="form-group">
          <label for="name">Weight</label>
          <input type="text" class="form-control" [(ngModel)]="dish.weight" name="weight" required>
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="text" class="form-control" [(ngModel)]="dish.price" name="pricecomp" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!dishForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-about></app-about>
