<div id="fh5co-menus" data-section="menu">
  <div class="container">
    <div class="row text-center fh5co-heading row-padded">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="heading to-animate">Food Menu</h2>
        <p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row row-padded">
      <div class="col-md-6" *ngFor="let item of dishes | groupBy:'section':'name'; let i = index">
        <div class="fh5co-food-menu to-animate-2">
          <h2 class="fh5co-drinks">{{item.key}}</h2>
          <ul>
            <li *ngFor="let its of item.value">
              <div class="fh5co-food-desc">
                <figure>
                  <img *ngIf="i+1!==8" src="assets/images/res_img_{{i +1 }}.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                </figure>
                <div>
                  <h3><a [routerLink]="['/dish-details', its.id]">{{its.name}}</a></h3>
                  <p>Far far away, behind the word mountains.</p>
                </div>
              </div>
              <div class="fh5co-food-pricing">
                ${{its.price}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center to-animate-2">
        <p><a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
         Add new Dish in Menu <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a></p>
    </div>
    </div>
  </div>
</div>
